/* アニメーション */
.zoom-in{
  opacity: 0;
}
.zoom-in.is-animated {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
 
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* ヘッダー */
.site-header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 768px) {
.header-inner {
  flex-direction: column;
  gap: 16px;
}
.site-logo{
    line-height: 0.8;
}
.hero{
    background-position: right;
}
}

.site-logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fabe00;
}

.site-nav ul {
  display: flex;
  gap: 30px;
}

.site-nav a {
  font-weight: 500;
  color: #333;
}

.site-nav a:hover {
  color: #fabe00;
}


/* フッター */
.site-footer {
  background: #f2f2f2;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #666;
}


/* セクションタイトル全体 */
.sec-title--wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

/* 背景の英語タイトル */
.section-title--en {
  display: block;
  font-size: 4.5rem;
  font-weight: 700;
  color: #666;
  opacity: 0.08;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* 手前の日本語タイトル */
.section-title--jp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.05em;
  background: transparent;
  white-space: nowrap;
  margin-top: 3px;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .section-title--en {
    font-size: 2.8rem;
  }
  .section-title--jp {
    font-size: 1.4rem;
  }
}

