

/* ヒーロー */
.hero {
  background-image: url("../images/fv.jpg");
  text-align: center;
  padding: 120px 20px;
  background-size: cover;
background-repeat: no-repeat;
}

.hero-inner {
    background: rgb(0 0 0 / 60%);
    padding: 30px 0;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    color: #fff;
}
.hero-inner h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
}

.hero-inner h2 span {
  color: #fabe00;
}

.hero-inner p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #fabe00;
  color: #fff;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

/* WORKS */
.works-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.work-card {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: transform 0.3s;
}

.work-card:hover {
  transform: translateY(-4px);
}

.work-card h3 {
  font-size: 1.2rem;
  margin: 15px;
}

.work-card p {
  margin: 0 15px 20px;
  color: #666;
}

.work-card img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* ABOUT */
.about{
  background: #fffbf0;
}

.profile-img {
  width: 300px;
  object-fit: cover;
  margin: auto;
}

.about-text p {
  color: #444;
  text-align: center;
  margin-top: 20px;
  line-height: 2;
}

/* CONTACT */
.contact-inner {
  text-align: center;
}

.contact-inner p {
  margin-bottom: 30px;
}


/* レスポンシブ */
@media (max-width: 768px) {
  .hero-inner h2 {
    font-size: 1.5rem;
  }
  .about-inner {
    flex-direction: column;
  }
  .profile-img {
    width: 200px;
  }
}
